language: go
services:
- mysql
- postgres
- redis-server
addons:
  postgresql: '9.4'
go:
- '1.7'
- '1.8'
- '1.9'
- tip
go_import_path: github.com/stellar/go
install:
- wget https://github.com/Masterminds/glide/releases/download/v0.12.3/glide-v0.12.3-linux-amd64.tar.gz
- tar -xzvf glide-v0.12.3-linux-amd64.tar.gz
- cp linux-amd64/glide $GOPATH/bin
script:
- glide install
- ./support/scripts/run_tests
before_deploy:
- go run ./support/scripts/build_release_artifacts/main.go
matrix:
  fast_finish: true
  allow_failures:
  - go: tip
notifications:
  slack:
    on_success: change
    on_failure: always
    secure: Uhx8H2RFNsJ9GknDItSwhMOl5K3HTGNjifJwkLUiRio4JH4PzrkHDOzCOpEzrboviVF+Rch9VsC7HchIY2uyqeB9UW63dCMPeaYSs7rfNCmW8bTcGydeVOe0HV18mpM/4yPy/gsw5Zq+eGq7+p9NZtwkOHeQ/YtoSFcWbQQYs3CPZpBUP95KW1fGTn8OIW6nKkVA0Kyr6aXJFZB9AHIg24R9l2uraHdjg5EUJJO/4yR0GWC1pLTfUCqUt9mXPeGSQOhhvR+pCKSljY3pB6oex2hKH04u3U1iRzOBuKMPmMrcyJDzvVRkCaCn+0LPGZ3vgDDcDdcqYxEk1a1n27wzjqYlDeH4xaYTZGpB18LiX6MAm84+iviL5JILIMQ4NcqVNB2L37zl1UW+BMQUSH6+zQknHkGcOImU984PEdrhCM2uvknvp0+IGXdpyv9WwztzxhJOz6PAE1aA3O+BI1xuSft6sGY07Z0Q9iKO/uCWIHbsfLso16kIubiHzwjSAz90tbCc8VcR4EFeVqEoWm9QwRP0v6pclWMhj9bq3Oye1gKrSCwWPXCg8mRFCCuXgr4dev7I+vKcx43oIddgcx6vIROMYsgX/0gInBrkNxZw3Gu1YUXe1fuNvmCZWSlaWrO+9XWnFItnLs2ypnQjlguKzxgqmfqR0eXmMYBQrH18sxU=
deploy:
  - provider: releases
    skip_cleanup: true
    api_key:
      secure: WGcJHIiRYogAoi1cZGMbehnbLqBEKs3LG9OYK76u1BeGz+oAardqyfhA8Ls2ihhkceN+KkdmH3JM4irAYevlq6x3XgFRFowbtxJAAojONWjPYolqnqR4+fE5epiFu+yiDGD34BvF9PVbQur+kkGFDdCErfmj1zi3SVm8dKtI9aRnt3OTkx0D7pZQhpN2PrEvvx99uo2Ilga3uKfsivaYow8bn9O+tdVrbYELOMZ5TFjjiLMI1gQi6pJiWijm+r8eS7nK9U+QMN33UMKqIxgW9TcW/rUruWSRTHgAM686WSQbPSE94enxrt73KKyJFO7Ym30wjG40LV3tA6TJ6p0yShqVkPiYvga+niouT8NIqpq+YEcQilWxoREL5mn8pfrBhZJOHI/RZKL5JhNSIWe30HIDb8miLO41B3AeTk72iFzB297R5CoKsZWpRfbn1TmBhCyqAJB1RIFFSH4EplxZAMT+oVOxw3cmnXu/6fZt4qS7T6PgEOVeHMKFjFQKDI95qUVDIR6TmmefviG8BI07iwXkTb3IMzc8TXd13yYqv2fQmEQb1W42lRuwrAo/EBnYC8ZOnzA85W5d/Ksi25VUdqkgGBGmg4MU5av3voQs71rnqSGz36532jGCMi0T9U7F94T4JCpDfIff0XDWtAvtCRo3k69zPGhVxcwsOv4rv7E=
    file:
      - "dist/*"
    file_glob: true
    on:
      tags: true
      go: '1.8'